@font-face {
   font-family: 'Didot_italic';
   font-display: swap;
   src: url('file:///Users/alistairgriffin/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2019-12-19_134921/fonts/Didot_italic/font.ttf');
}
